* text=auto !eol
playerT/BasicPlayer.cpp -text
playerT/BasicPlayer.h -text
playerT/CMyView.h -text
playerT/CPropertyDlgs.h -text
playerT/CriticalSection.h -text
playerT/DialogConfig.cpp -text
playerT/DialogConfig.h -text
playerT/DialogFFT.h -text
playerT/DialogLyric.h -text
playerT/DirectSoundController.cpp -text
playerT/DirectSoundController.h -text
playerT/DsoundControl.cpp -text
playerT/DsoundControl.h -text
playerT/FFT.h -text
playerT/LrcMng.cpp -text
playerT/LrcMng.h -text
playerT/Mp3File.h -text
playerT/MusicFile.h -text
playerT/MusicLibrary.cpp -text
playerT/PlayList.cpp -text
playerT/PlayList.h -text
playerT/PlayerThread.cpp -text
playerT/PlayerThread.h -text
playerT/ProgertyDlg.h -text
playerT/SpectrumAnalyser.cpp -text
playerT/SpectrumAnalyser.h -text
playerT/SpectrumAnalyserThread.cpp -text
playerT/SpectrumAnalyserThread.h -text
playerT/Thread.cpp -text
playerT/Thread.h -text
playerT/UpgradeLog.XML -text
playerT/Utils.h -text
playerT/WaveFile.cpp -text
playerT/WaveFile.h -text
playerT/WaveFileEx.h -text
playerT/aboutdlg.h -text
playerT/config.h -text
playerT/mainfrm.CPP -text
playerT/mainfrm.h -text
playerT/mpg123.h -text
playerT/music.cpp -text
playerT/music.h -text
playerT/player.aps -text
playerT/player.cpp -text
playerT/player.h -text
playerT/player.rc -text
playerT/player.sln -text
playerT/player.sln.old -text
playerT/player.suo -text
playerT/player.suo.old -text
playerT/player.vcproj -text
playerT/player.vcxproj -text
playerT/playerT.aps -text
playerT/playerT.dsp -text
playerT/playerT.dsw -text
playerT/playerT.opt -text
playerT/playerT.plg -text
playerT/playerT.sln -text
playerT/playerT.vcproj -text
playerT/playerT.vcproj.HXT-0401120-LY.Administrator.user -text
playerT/playerTview.h -text
playerT/res/player.ico -text
playerT/res/playerT.ico -text
playerT/res/toolbar.bmp -text
playerT/resource.h -text
playerT/stdafx.cpp -text
playerT/stdafx.h -text
playerT/备份/mpg123_denc.dll -text
playerT/备份/mpg123_denc.lib -text
playerT/备份/mpg123_dencd.dll -text
playerT/备份/mpg123_dencd.lib -text
playerTBranch/CMyView.h -text
playerTBranch/CPropertyDlgs.h -text
playerTBranch/DialogConfig.cpp -text
playerTBranch/DialogConfig.h -text
playerTBranch/DialogFFT.h -text
playerTBranch/DialogLyric.h -text
playerTBranch/DsoundControl.cpp -text
playerTBranch/DsoundControl.h -text
playerTBranch/FFT.h -text
playerTBranch/LrcMng.cpp -text
playerTBranch/LrcMng.h -text
playerTBranch/Mp3File.h -text
playerTBranch/MusicFile.h -text
playerTBranch/MusicLibrary.cpp -text
playerTBranch/PlayList.cpp -text
playerTBranch/PlayList.h -text
playerTBranch/ProgertyDlg.h -text
playerTBranch/UpgradeLog.XML -text
playerTBranch/WaveFile.cpp -text
playerTBranch/WaveFile.h -text
playerTBranch/WaveFileEx.h -text
playerTBranch/aboutdlg.h -text
playerTBranch/mainfrm.CPP -text
playerTBranch/mainfrm.h -text
playerTBranch/mpg123.h -text
playerTBranch/mpg123_denc.dll -text
playerTBranch/mpg123_denc.lib -text
playerTBranch/mpg123_dencd.dll -text
playerTBranch/mpg123_dencd.lib -text
playerTBranch/music.cpp -text
playerTBranch/music.h -text
playerTBranch/player.aps -text
playerTBranch/player.cpp -text
playerTBranch/player.h -text
playerTBranch/player.rc -text
playerTBranch/player.sln -text
playerTBranch/player.sln.old -text
playerTBranch/player.suo -text
playerTBranch/player.suo.old -text
playerTBranch/player.vcproj -text
playerTBranch/player.vcproj.2011-20110603DY.Administrator.user -text
playerTBranch/player.vcproj.69ADF62AF8AB4E6.Administrator.user -text
playerTBranch/player.vcproj.69ADF62AF8AB4E6.g1.user -text
playerTBranch/player.vcproj.LG-946TRO7DN0BF.LG.user -text
playerTBranch/player.vcproj.LG.Administrator.user -text
playerTBranch/player.vcxproj -text
playerTBranch/player.vcxproj.filters -text
playerTBranch/player.vcxproj.user -text
playerTBranch/playerT.aps -text
playerTBranch/playerT.dsp -text
playerTBranch/playerT.dsw -text
playerTBranch/playerT.opt -text
playerTBranch/playerT.plg -text
playerTBranch/playerT.sln -text
playerTBranch/playerT.vcproj -text
playerTBranch/playerT.vcproj.HXT-0401120-LY.Administrator.user -text
playerTBranch/playerTview.h -text
playerTBranch/res/Thumbs.db -text
playerTBranch/res/player.ico -text
playerTBranch/res/playerT.exe.manifest -text
playerTBranch/res/playerT.ico -text
playerTBranch/res/toolbar.bmp -text
playerTBranch/resource.h -text
playerTBranch/stdafx.cpp -text
playerTBranch/stdafx.h -text
playerTBranch/备份/mpg123_denc.dll -text
playerTBranch/备份/mpg123_denc.lib -text
playerTBranch/备份/mpg123_dencd.dll -text
playerTBranch/备份/mpg123_dencd.lib -text
