playerT/*.aps
playerT/*.filters
playerT/*.old
playerT/*.plg
playerT/*.user
playerT/*.vcxproj
playerT/Debug
playerT/Debug1
playerT/Release
playerT/branchNonNotify/*.aps
playerT/branchNonNotify/*.filters
playerT/branchNonNotify/*.old
playerT/branchNonNotify/*.plg
playerT/branchNonNotify/*.user
playerT/branchNonNotify/*.vcxproj
playerT/branchNonNotify/Debug
playerT/branchNonNotify/Debug1
playerT/branchNonNotify/Release
playerT/branchNonNotify/playerT.ncb
playerT/branchNonNotify/playerT.suo
playerT/branchNonNotify/res/*.manifest
playerT/branchNonNotify/res/Thumbs.db
playerT/playerT.ncb
playerT/playerT.suo
playerT/res/*.manifest
playerT/res/Thumbs.db
playerTBranch/Debug
playerTBranch/Debug1
playerTBranch/Release
