* text=auto !eol
playerBranchNonNotify/BasicPlayer.cpp -text
playerBranchNonNotify/BasicPlayer.h -text
playerBranchNonNotify/CMyView.h -text
playerBranchNonNotify/CPropertyDlgs.h -text
playerBranchNonNotify/CriticalSection.h -text
playerBranchNonNotify/DialogConfig.cpp -text
playerBranchNonNotify/DialogConfig.h -text
playerBranchNonNotify/DialogFFT.h -text
playerBranchNonNotify/DialogLyric.h -text
playerBranchNonNotify/DirectSoundController.cpp -text
playerBranchNonNotify/DirectSoundController.h -text
playerBranchNonNotify/DsoundControl.cpp -text
playerBranchNonNotify/DsoundControl.h -text
playerBranchNonNotify/FFT.h -text
playerBranchNonNotify/Lib/Debug/libmpg123.lib -text
playerBranchNonNotify/Lib/Debug/vc90.idb -text
playerBranchNonNotify/Lib/Debug/vc90.pdb -text
playerBranchNonNotify/Lib/Release/libmpg123.lib -text
playerBranchNonNotify/Lib/Release/vc90.idb -text
playerBranchNonNotify/Lib/Release/vc90.pdb -text
playerBranchNonNotify/LrcMng.cpp -text
playerBranchNonNotify/LrcMng.h -text
playerBranchNonNotify/Mp3File.h -text
playerBranchNonNotify/MusicFile.h -text
playerBranchNonNotify/MusicLibrary.cpp -text
playerBranchNonNotify/PlayList.cpp -text
playerBranchNonNotify/PlayList.h -text
playerBranchNonNotify/PlayerThread.cpp -text
playerBranchNonNotify/PlayerThread.h -text
playerBranchNonNotify/ProgertyDlg.h -text
playerBranchNonNotify/SpectrumAnalyser.cpp -text
playerBranchNonNotify/SpectrumAnalyser.h -text
playerBranchNonNotify/SpectrumAnalyserThread.cpp -text
playerBranchNonNotify/SpectrumAnalyserThread.h -text
playerBranchNonNotify/Thread.cpp -text
playerBranchNonNotify/Thread.h -text
playerBranchNonNotify/UpgradeLog.XML -text
playerBranchNonNotify/Utils.h -text
playerBranchNonNotify/WaveFile.cpp -text
playerBranchNonNotify/WaveFile.h -text
playerBranchNonNotify/WaveFileEx.h -text
playerBranchNonNotify/aboutdlg.h -text
playerBranchNonNotify/config.h -text
playerBranchNonNotify/libmpg123.dll -text
playerBranchNonNotify/mainfrm.CPP -text
playerBranchNonNotify/mainfrm.h -text
playerBranchNonNotify/music.cpp -text
playerBranchNonNotify/music.h -text
playerBranchNonNotify/player.cpp -text
playerBranchNonNotify/player.h -text
playerBranchNonNotify/player.rc -text
playerBranchNonNotify/player.sln -text
playerBranchNonNotify/player.suo -text
playerBranchNonNotify/player.vcproj -text
playerBranchNonNotify/playerT.aps -text
playerBranchNonNotify/playerT.dsp -text
playerBranchNonNotify/playerT.dsw -text
playerBranchNonNotify/playerT.opt -text
playerBranchNonNotify/playerT.sln -text
playerBranchNonNotify/playerT.vcproj -text
playerBranchNonNotify/playerTview.h -text
playerBranchNonNotify/res/player.ico -text
playerBranchNonNotify/res/playerT.ico -text
playerBranchNonNotify/res/toolbar.bmp -text
playerBranchNonNotify/resource.h -text
playerBranchNonNotify/stdafx.cpp -text
playerBranchNonNotify/stdafx.h -text
playerBranchNonNotify/vc90.idb -text
playerBranchNonNotify/vc90.pdb -text
playerBranchNonNotify/备份/mpg123_denc.dll -text
playerBranchNonNotify/备份/mpg123_denc.lib -text
playerBranchNonNotify/备份/mpg123_dencd.dll -text
playerBranchNonNotify/备份/mpg123_dencd.lib -text
playerT/BasicPlayer.cpp -text
playerT/BasicPlayer.h -text
playerT/CAlbumCoverView.h -text
playerT/CCtrlViewBase.h -text
playerT/CImg.h -text
playerT/CMyLyric.h -text
playerT/CMyTabBar.h -text
playerT/CPropertyDlgs.h -text
playerT/CriticalSection.h -text
playerT/DialogConfig.cpp -text
playerT/DialogConfig.h -text
playerT/DialogFFT.h -text
playerT/DialogFFTOutline.h -text
playerT/DialogLrcList.h -text
playerT/DialogLyric.h -text
playerT/DialogSearch.h -text
playerT/DirectSoundController.cpp -text
playerT/DirectSoundController.h -text
playerT/DlgConsole.h -text
playerT/DlgProcessing.h -text
playerT/DsoundControl.cpp -text
playerT/DsoundControl.h -text
playerT/FFT.h -text
playerT/Lib/Debug/libmpg123.lib -text
playerT/Lib/Debug/vc90.idb -text
playerT/Lib/Debug/vc90.pdb -text
playerT/Lib/Release/libmpg123.lib -text
playerT/Lib/Release/vc90.idb -text
playerT/Lib/Release/vc90.pdb -text
playerT/LrcMng.cpp -text
playerT/LrcMng.h -text
playerT/Mp3File.h -text
playerT/MusicFile.h -text
playerT/MyControls.h -text
playerT/MyLib.cpp -text
playerT/MyLib.h -text
playerT/MySerialize.cpp -text
playerT/MySerialize.h -text
playerT/PlayList.cpp -text
playerT/PlayList.h -text
playerT/PlayListManager.h -text
playerT/PlayListView.h -text
playerT/PlayListViewMng.cpp -text
playerT/PlayListViewMng.h -text
playerT/PlayerThread.cpp -text
playerT/PlayerThread.h -text
playerT/ProgertyDlg.h -text
playerT/SearchLyric.h -text
playerT/SpectrumAnalyser.cpp -text
playerT/SpectrumAnalyser.h -text
playerT/SpectrumAnalyserThread.cpp -text
playerT/SpectrumAnalyserThread.h -text
playerT/StringConvertions.cpp -text
playerT/StringConvertions.h -text
playerT/Thread.cpp -text
playerT/Thread.h -text
playerT/UpgradeLog.XML -text
playerT/Util1.cpp -text
playerT/Util1.h -text
playerT/Utils.h -text
playerT/WTLTabViewCtrl.h -text
playerT/WaveFile.cpp -text
playerT/WaveFile.h -text
playerT/WaveFileEx.h -text
playerT/aboutdlg.h -text
playerT/atlsplit.h -text
playerT/customMsg.h -text
playerT/dlgLrcSearch.h -text
playerT/fileMonitor.cpp -text
playerT/fileMonitor.h -text
playerT/forwardMsg.cpp -text
playerT/forwardMsg.h -text
playerT/glassWnd.h -text
playerT/globalStuffs.cpp -text
playerT/globalStuffs.h -text
playerT/libmpg123.dll -text
playerT/libmpg123.lib -text
playerT/mainfrm.CPP -text
playerT/mainfrm.h -text
playerT/music.cpp -text
playerT/music.h -text
playerT/mysplit.cpp -text
playerT/mysplit.h -text
playerT/mytree.h -text
playerT/player.cpp -text
playerT/player.h -text
playerT/player.rc -text
playerT/player.sln -text
playerT/player.suo -text
playerT/player.vcproj -text
playerT/playerT.aps -text
playerT/playerT.opt -text
playerT/res/Toolbar.bmp -text
playerT/res/idr_main.ico -text
playerT/res/player.ico -text
playerT/res/playerT.ico -text
playerT/res/player_p1.bmp -text
playerT/res/player_p2.bmp -text
playerT/resource.h -text
playerT/stdafx.cpp -text
playerT/stdafx.h -text
playerT/taplib/include/README -text
playerT/taplib/include/aifffile.h -text
playerT/taplib/include/aiffproperties.h -text
playerT/taplib/include/apefooter.h -text
playerT/taplib/include/apeitem.h -text
playerT/taplib/include/apetag.h -text
playerT/taplib/include/asfattribute.h -text
playerT/taplib/include/asffile.h -text
playerT/taplib/include/asfproperties.h -text
playerT/taplib/include/asftag.h -text
playerT/taplib/include/attachedpictureframe.h -text
playerT/taplib/include/audioproperties.h -text
playerT/taplib/include/commentsframe.h -text
playerT/taplib/include/fileref.h -text
playerT/taplib/include/flacfile.h -text
playerT/taplib/include/flacproperties.h -text
playerT/taplib/include/generalencapsulatedobjectframe.h -text
playerT/taplib/include/id3v1genres.h -text
playerT/taplib/include/id3v1tag.h -text
playerT/taplib/include/id3v2extendedheader.h -text
playerT/taplib/include/id3v2footer.h -text
playerT/taplib/include/id3v2frame.h -text
playerT/taplib/include/id3v2framefactory.h -text
playerT/taplib/include/id3v2header.h -text
playerT/taplib/include/id3v2synchdata.h -text
playerT/taplib/include/id3v2tag.h -text
playerT/taplib/include/mp4atom.h -text
playerT/taplib/include/mp4coverart.h -text
playerT/taplib/include/mp4file.h -text
playerT/taplib/include/mp4item.h -text
playerT/taplib/include/mp4properties.h -text
playerT/taplib/include/mp4tag.h -text
playerT/taplib/include/mpcfile.h -text
playerT/taplib/include/mpcproperties.h -text
playerT/taplib/include/mpegfile.h -text
playerT/taplib/include/mpegheader.h -text
playerT/taplib/include/mpegproperties.h -text
playerT/taplib/include/oggfile.h -text
playerT/taplib/include/oggflacfile.h -text
playerT/taplib/include/oggpage.h -text
playerT/taplib/include/oggpageheader.h -text
playerT/taplib/include/popularimeterframe.h -text
playerT/taplib/include/privateframe.h -text
playerT/taplib/include/relativevolumeframe.h -text
playerT/taplib/include/rifffile.h -text
playerT/taplib/include/speexfile.h -text
playerT/taplib/include/speexproperties.h -text
playerT/taplib/include/tag.h -text
playerT/taplib/include/taglib.h -text
playerT/taplib/include/taglib_export.h -text
playerT/taplib/include/tagunion.h -text
playerT/taplib/include/tbytevector.h -text
playerT/taplib/include/tbytevectorlist.h -text
playerT/taplib/include/tdebug.h -text
playerT/taplib/include/textidentificationframe.h -text
playerT/taplib/include/tfile.h -text
playerT/taplib/include/tlist.h -text
playerT/taplib/include/tmap.h -text
playerT/taplib/include/trueaudiofile.h -text
playerT/taplib/include/trueaudioproperties.h -text
playerT/taplib/include/tstring.h -text
playerT/taplib/include/tstringlist.h -text
playerT/taplib/include/unicode.h -text
playerT/taplib/include/uniquefileidentifierframe.h -text
playerT/taplib/include/unknownframe.h -text
playerT/taplib/include/unsynchronizedlyricsframe.h -text
playerT/taplib/include/urllinkframe.h -text
playerT/taplib/include/vorbisfile.h -text
playerT/taplib/include/vorbisproperties.h -text
playerT/taplib/include/wavfile.h -text
playerT/taplib/include/wavpackfile.h -text
playerT/taplib/include/wavpackproperties.h -text
playerT/taplib/include/wavproperties.h -text
playerT/taplib/include/xingheader.h -text
playerT/taplib/include/xiphcomment.h -text
playerT/taplib/taglib/ape/CMakeLists.txt -text
playerT/taplib/taglib/ape/ape-tag-format.txt -text
playerT/taplib/taglib/ape/apefile.cpp -text
playerT/taplib/taglib/ape/apefile.h -text
playerT/taplib/taglib/ape/apefooter.cpp -text
playerT/taplib/taglib/ape/apefooter.h -text
playerT/taplib/taglib/ape/apeitem.cpp -text
playerT/taplib/taglib/ape/apeitem.h -text
playerT/taplib/taglib/ape/apeproperties.cpp -text
playerT/taplib/taglib/ape/apeproperties.h -text
playerT/taplib/taglib/ape/apetag.cpp -text
playerT/taplib/taglib/ape/apetag.h -text
playerT/taplib/taglib/asf/CMakeLists.txt -text
playerT/taplib/taglib/asf/asfattribute.cpp -text
playerT/taplib/taglib/asf/asfattribute.h -text
playerT/taplib/taglib/asf/asffile.cpp -text
playerT/taplib/taglib/asf/asffile.h -text
playerT/taplib/taglib/asf/asfpicture.cpp -text
playerT/taplib/taglib/asf/asfpicture.h -text
playerT/taplib/taglib/asf/asfproperties.cpp -text
playerT/taplib/taglib/asf/asfproperties.h -text
playerT/taplib/taglib/asf/asftag.cpp -text
playerT/taplib/taglib/asf/asftag.h -text
playerT/taplib/taglib/audioproperties.cpp -text
playerT/taplib/taglib/audioproperties.h -text
playerT/taplib/taglib/fileref.cpp -text
playerT/taplib/taglib/fileref.h -text
playerT/taplib/taglib/flac/CMakeLists.txt -text
playerT/taplib/taglib/flac/flacfile.cpp -text
playerT/taplib/taglib/flac/flacfile.h -text
playerT/taplib/taglib/flac/flacmetadatablock.cpp -text
playerT/taplib/taglib/flac/flacmetadatablock.h -text
playerT/taplib/taglib/flac/flacpicture.cpp -text
playerT/taplib/taglib/flac/flacpicture.h -text
playerT/taplib/taglib/flac/flacproperties.cpp -text
playerT/taplib/taglib/flac/flacproperties.h -text
playerT/taplib/taglib/flac/flacunknownmetadatablock.cpp -text
playerT/taplib/taglib/flac/flacunknownmetadatablock.h -text
playerT/taplib/taglib/mp4/CMakeLists.txt -text
playerT/taplib/taglib/mp4/mp4atom.cpp -text
playerT/taplib/taglib/mp4/mp4atom.h -text
playerT/taplib/taglib/mp4/mp4coverart.cpp -text
playerT/taplib/taglib/mp4/mp4coverart.h -text
playerT/taplib/taglib/mp4/mp4file.cpp -text
playerT/taplib/taglib/mp4/mp4file.h -text
playerT/taplib/taglib/mp4/mp4item.cpp -text
playerT/taplib/taglib/mp4/mp4item.h -text
playerT/taplib/taglib/mp4/mp4properties.cpp -text
playerT/taplib/taglib/mp4/mp4properties.h -text
playerT/taplib/taglib/mp4/mp4tag.cpp -text
playerT/taplib/taglib/mp4/mp4tag.h -text
playerT/taplib/taglib/mpc/CMakeLists.txt -text
playerT/taplib/taglib/mpc/mpcfile.cpp -text
playerT/taplib/taglib/mpc/mpcfile.h -text
playerT/taplib/taglib/mpc/mpcproperties.cpp -text
playerT/taplib/taglib/mpc/mpcproperties.h -text
playerT/taplib/taglib/mpeg/CMakeLists.txt -text
playerT/taplib/taglib/mpeg/id3v1/CMakeLists.txt -text
playerT/taplib/taglib/mpeg/id3v1/id3v1genres.cpp -text
playerT/taplib/taglib/mpeg/id3v1/id3v1genres.h -text
playerT/taplib/taglib/mpeg/id3v1/id3v1tag.cpp -text
playerT/taplib/taglib/mpeg/id3v1/id3v1tag.h -text
playerT/taplib/taglib/mpeg/id3v2/CMakeLists.txt -text
playerT/taplib/taglib/mpeg/id3v2/frames/CMakeLists.txt -text
playerT/taplib/taglib/mpeg/id3v2/frames/attachedpictureframe.cpp -text
playerT/taplib/taglib/mpeg/id3v2/frames/attachedpictureframe.h -text
playerT/taplib/taglib/mpeg/id3v2/frames/commentsframe.cpp -text
playerT/taplib/taglib/mpeg/id3v2/frames/commentsframe.h -text
playerT/taplib/taglib/mpeg/id3v2/frames/generalencapsulatedobjectframe.cpp -text
playerT/taplib/taglib/mpeg/id3v2/frames/generalencapsulatedobjectframe.h -text
playerT/taplib/taglib/mpeg/id3v2/frames/popularimeterframe.cpp -text
playerT/taplib/taglib/mpeg/id3v2/frames/popularimeterframe.h -text
playerT/taplib/taglib/mpeg/id3v2/frames/privateframe.cpp -text
playerT/taplib/taglib/mpeg/id3v2/frames/privateframe.h -text
playerT/taplib/taglib/mpeg/id3v2/frames/relativevolumeframe.cpp -text
playerT/taplib/taglib/mpeg/id3v2/frames/relativevolumeframe.h -text
playerT/taplib/taglib/mpeg/id3v2/frames/textidentificationframe.cpp -text
playerT/taplib/taglib/mpeg/id3v2/frames/textidentificationframe.h -text
playerT/taplib/taglib/mpeg/id3v2/frames/uniquefileidentifierframe.cpp -text
playerT/taplib/taglib/mpeg/id3v2/frames/uniquefileidentifierframe.h -text
playerT/taplib/taglib/mpeg/id3v2/frames/unknownframe.cpp -text
playerT/taplib/taglib/mpeg/id3v2/frames/unknownframe.h -text
playerT/taplib/taglib/mpeg/id3v2/frames/unsynchronizedlyricsframe.cpp -text
playerT/taplib/taglib/mpeg/id3v2/frames/unsynchronizedlyricsframe.h -text
playerT/taplib/taglib/mpeg/id3v2/frames/urllinkframe.cpp -text
playerT/taplib/taglib/mpeg/id3v2/frames/urllinkframe.h -text
playerT/taplib/taglib/mpeg/id3v2/id3v2.2.0.txt -text
playerT/taplib/taglib/mpeg/id3v2/id3v2.3.0.txt -text
playerT/taplib/taglib/mpeg/id3v2/id3v2.4.0-frames.txt -text
playerT/taplib/taglib/mpeg/id3v2/id3v2.4.0-structure.txt -text
playerT/taplib/taglib/mpeg/id3v2/id3v2extendedheader.cpp -text
playerT/taplib/taglib/mpeg/id3v2/id3v2extendedheader.h -text
playerT/taplib/taglib/mpeg/id3v2/id3v2footer.cpp -text
playerT/taplib/taglib/mpeg/id3v2/id3v2footer.h -text
playerT/taplib/taglib/mpeg/id3v2/id3v2frame.cpp -text
playerT/taplib/taglib/mpeg/id3v2/id3v2frame.h -text
playerT/taplib/taglib/mpeg/id3v2/id3v2framefactory.cpp -text
playerT/taplib/taglib/mpeg/id3v2/id3v2framefactory.h -text
playerT/taplib/taglib/mpeg/id3v2/id3v2header.cpp -text
playerT/taplib/taglib/mpeg/id3v2/id3v2header.h -text
playerT/taplib/taglib/mpeg/id3v2/id3v2synchdata.cpp -text
playerT/taplib/taglib/mpeg/id3v2/id3v2synchdata.h -text
playerT/taplib/taglib/mpeg/id3v2/id3v2tag.cpp -text
playerT/taplib/taglib/mpeg/id3v2/id3v2tag.h -text
playerT/taplib/taglib/mpeg/mpegfile.cpp -text
playerT/taplib/taglib/mpeg/mpegfile.h -text
playerT/taplib/taglib/mpeg/mpegheader.cpp -text
playerT/taplib/taglib/mpeg/mpegheader.h -text
playerT/taplib/taglib/mpeg/mpegproperties.cpp -text
playerT/taplib/taglib/mpeg/mpegproperties.h -text
playerT/taplib/taglib/mpeg/xingheader.cpp -text
playerT/taplib/taglib/mpeg/xingheader.h -text
playerT/taplib/taglib/ogg/CMakeLists.txt -text
playerT/taplib/taglib/ogg/flac/CMakeLists.txt -text
playerT/taplib/taglib/ogg/flac/oggflacfile.cpp -text
playerT/taplib/taglib/ogg/flac/oggflacfile.h -text
playerT/taplib/taglib/ogg/oggfile.cpp -text
playerT/taplib/taglib/ogg/oggfile.h -text
playerT/taplib/taglib/ogg/oggpage.cpp -text
playerT/taplib/taglib/ogg/oggpage.h -text
playerT/taplib/taglib/ogg/oggpageheader.cpp -text
playerT/taplib/taglib/ogg/oggpageheader.h -text
playerT/taplib/taglib/ogg/speex/CMakeLists.txt -text
playerT/taplib/taglib/ogg/speex/speexfile.cpp -text
playerT/taplib/taglib/ogg/speex/speexfile.h -text
playerT/taplib/taglib/ogg/speex/speexproperties.cpp -text
playerT/taplib/taglib/ogg/speex/speexproperties.h -text
playerT/taplib/taglib/ogg/vorbis/CMakeLists.txt -text
playerT/taplib/taglib/ogg/vorbis/vorbisfile.cpp -text
playerT/taplib/taglib/ogg/vorbis/vorbisfile.h -text
playerT/taplib/taglib/ogg/vorbis/vorbisproperties.cpp -text
playerT/taplib/taglib/ogg/vorbis/vorbisproperties.h -text
playerT/taplib/taglib/ogg/xiphcomment.cpp -text
playerT/taplib/taglib/ogg/xiphcomment.h -text
playerT/taplib/taglib/riff/CMakeLists.txt -text
playerT/taplib/taglib/riff/aiff/CMakeLists.txt -text
playerT/taplib/taglib/riff/aiff/aifffile.cpp -text
playerT/taplib/taglib/riff/aiff/aifffile.h -text
playerT/taplib/taglib/riff/aiff/aiffproperties.cpp -text
playerT/taplib/taglib/riff/aiff/aiffproperties.h -text
playerT/taplib/taglib/riff/rifffile.cpp -text
playerT/taplib/taglib/riff/rifffile.h -text
playerT/taplib/taglib/riff/wav/CMakeLists.txt -text
playerT/taplib/taglib/riff/wav/wavfile.cpp -text
playerT/taplib/taglib/riff/wav/wavfile.h -text
playerT/taplib/taglib/riff/wav/wavproperties.cpp -text
playerT/taplib/taglib/riff/wav/wavproperties.h -text
playerT/taplib/taglib/tag.cpp -text
playerT/taplib/taglib/tag.h -text
playerT/taplib/taglib/taglib.pro -text
playerT/taplib/taglib/taglib_export.h -text
playerT/taplib/taglib/tagunion.cpp -text
playerT/taplib/taglib/tagunion.h -text
playerT/taplib/taglib/toolkit/CMakeLists.txt -text
playerT/taplib/taglib/toolkit/taglib.h -text
playerT/taplib/taglib/toolkit/tbytevector.cpp -text
playerT/taplib/taglib/toolkit/tbytevector.h -text
playerT/taplib/taglib/toolkit/tbytevectorlist.cpp -text
playerT/taplib/taglib/toolkit/tbytevectorlist.h -text
playerT/taplib/taglib/toolkit/tdebug.cpp -text
playerT/taplib/taglib/toolkit/tdebug.h -text
playerT/taplib/taglib/toolkit/tfile.cpp -text
playerT/taplib/taglib/toolkit/tfile.h -text
playerT/taplib/taglib/toolkit/tlist.h -text
playerT/taplib/taglib/toolkit/tlist.tcc -text
playerT/taplib/taglib/toolkit/tmap.h -text
playerT/taplib/taglib/toolkit/tmap.tcc -text
playerT/taplib/taglib/toolkit/tstring.cpp -text
playerT/taplib/taglib/toolkit/tstring.h -text
playerT/taplib/taglib/toolkit/tstringlist.cpp -text
playerT/taplib/taglib/toolkit/tstringlist.h -text
playerT/taplib/taglib/toolkit/unicode.cpp -text
playerT/taplib/taglib/toolkit/unicode.h -text
playerT/taplib/taglib/trueaudio/CMakeLists.txt -text
playerT/taplib/taglib/trueaudio/trueaudiofile.cpp -text
playerT/taplib/taglib/trueaudio/trueaudiofile.h -text
playerT/taplib/taglib/trueaudio/trueaudioproperties.cpp -text
playerT/taplib/taglib/trueaudio/trueaudioproperties.h -text
playerT/taplib/taglib/wavpack/CMakeLists.txt -text
playerT/taplib/taglib/wavpack/wavpackfile.cpp -text
playerT/taplib/taglib/wavpack/wavpackfile.h -text
playerT/taplib/taglib/wavpack/wavpackproperties.cpp -text
playerT/taplib/taglib/wavpack/wavpackproperties.h -text
playerT/todo.txt -text
playerT/vc90.idb -text
playerT/vc90.pdb -text
playerT/备份/mpg123_denc.dll -text
playerT/备份/mpg123_denc.lib -text
playerT/备份/mpg123_dencd.dll -text
playerT/备份/mpg123_dencd.lib -text
playerTBranch/CMyView.h -text
playerTBranch/CPropertyDlgs.h -text
playerTBranch/DialogConfig.cpp -text
playerTBranch/DialogConfig.h -text
playerTBranch/DialogFFT.h -text
playerTBranch/DialogLyric.h -text
playerTBranch/DsoundControl.cpp -text
playerTBranch/DsoundControl.h -text
playerTBranch/FFT.h -text
playerTBranch/LrcMng.cpp -text
playerTBranch/LrcMng.h -text
playerTBranch/Mp3File.h -text
playerTBranch/MusicFile.h -text
playerTBranch/MusicLibrary.cpp -text
playerTBranch/PlayList.cpp -text
playerTBranch/PlayList.h -text
playerTBranch/ProgertyDlg.h -text
playerTBranch/UpgradeLog.XML -text
playerTBranch/WaveFile.cpp -text
playerTBranch/WaveFile.h -text
playerTBranch/WaveFileEx.h -text
playerTBranch/aboutdlg.h -text
playerTBranch/mainfrm.CPP -text
playerTBranch/mainfrm.h -text
playerTBranch/mpg123.h -text
playerTBranch/mpg123_denc.dll -text
playerTBranch/mpg123_denc.lib -text
playerTBranch/mpg123_dencd.dll -text
playerTBranch/mpg123_dencd.lib -text
playerTBranch/music.cpp -text
playerTBranch/music.h -text
playerTBranch/player.aps -text
playerTBranch/player.cpp -text
playerTBranch/player.h -text
playerTBranch/player.rc -text
playerTBranch/player.sln -text
playerTBranch/player.sln.old -text
playerTBranch/player.suo -text
playerTBranch/player.suo.old -text
playerTBranch/player.vcproj -text
playerTBranch/player.vcproj.2011-20110603DY.Administrator.user -text
playerTBranch/player.vcproj.69ADF62AF8AB4E6.Administrator.user -text
playerTBranch/player.vcproj.69ADF62AF8AB4E6.g1.user -text
playerTBranch/player.vcproj.LG-946TRO7DN0BF.LG.user -text
playerTBranch/player.vcproj.LG.Administrator.user -text
playerTBranch/player.vcxproj -text
playerTBranch/player.vcxproj.filters -text
playerTBranch/player.vcxproj.user -text
playerTBranch/playerT.aps -text
playerTBranch/playerT.dsp -text
playerTBranch/playerT.dsw -text
playerTBranch/playerT.opt -text
playerTBranch/playerT.plg -text
playerTBranch/playerT.sln -text
playerTBranch/playerT.vcproj -text
playerTBranch/playerT.vcproj.HXT-0401120-LY.Administrator.user -text
playerTBranch/playerTview.h -text
playerTBranch/res/Thumbs.db -text
playerTBranch/res/player.ico -text
playerTBranch/res/playerT.exe.manifest -text
playerTBranch/res/playerT.ico -text
playerTBranch/res/toolbar.bmp -text
playerTBranch/resource.h -text
playerTBranch/stdafx.cpp -text
playerTBranch/stdafx.h -text
playerTBranch/备份/mpg123_denc.dll -text
playerTBranch/备份/mpg123_denc.lib -text
playerTBranch/备份/mpg123_dencd.dll -text
playerTBranch/备份/mpg123_dencd.lib -text
