* text=auto !eol
playerT/CMyView.h -text
playerT/CPropertyDlgs.h -text
playerT/Debug/BuildLog.htm -text
playerT/Debug/DialogConfig.obj -text
playerT/Debug/DsoundControl.obj -text
playerT/Debug/LrcMng.obj -text
playerT/Debug/MusicLibrary.obj -text
playerT/Debug/PlayList.obj -text
playerT/Debug/WaveFile.obj -text
playerT/Debug/mainfrm.obj -text
playerT/Debug/music.obj -text
playerT/Debug/player.obj -text
playerT/Debug/player.res -text
playerT/Debug/playerT.bsc -text
playerT/Debug/playerT.exe -text
playerT/Debug/playerT.exe.embed.manifest -text
playerT/Debug/playerT.ilk -text
playerT/Debug/playerT.obj -text
playerT/Debug/playerT.pch -text
playerT/Debug/playerT.pdb -text
playerT/Debug/playerT.res -text
playerT/Debug/stdafx.obj -text
playerT/Debug/vc60.idb -text
playerT/Debug/vc60.pdb -text
playerT/Debug/vc90.idb -text
playerT/Debug/vc90.pdb -text
playerT/Debug1/BuildLog.htm -text
playerT/Debug1/DialogConfig.sbr -text
playerT/Debug1/DsoundControl.sbr -text
playerT/Debug1/LrcMng.sbr -text
playerT/Debug1/MusicLibrary.sbr -text
playerT/Debug1/PlayList.sbr -text
playerT/Debug1/WaveFile.sbr -text
playerT/Debug1/mainfrm.sbr -text
playerT/Debug1/mt.dep -text
playerT/Debug1/music.sbr -text
playerT/Debug1/player.res -text
playerT/Debug1/player.sbr -text
playerT/Debug1/playerT.exe.embed.manifest -text
playerT/Debug1/playerT.exe.embed.manifest.res -text
playerT/Debug1/playerT.exe.intermediate.manifest -text
playerT/Debug1/playerT.res -text
playerT/Debug1/playerT.sbr -text
playerT/Debug1/stdafx.sbr -text
playerT/DialogConfig.cpp -text
playerT/DialogConfig.h -text
playerT/DialogFFT.h -text
playerT/DsoundControl.cpp -text
playerT/DsoundControl.h -text
playerT/FFT.h -text
playerT/LrcMng.cpp -text
playerT/LrcMng.h -text
playerT/Mp3File.h -text
playerT/MusicFile.h -text
playerT/MusicLibrary.cpp -text
playerT/PlayList.cpp -text
playerT/PlayList.h -text
playerT/ProgertyDlg.h -text
playerT/Release/BuildLog.htm -text
playerT/Release/DialogConfig.obj -text
playerT/Release/DsoundControl.obj -text
playerT/Release/LrcMng.obj -text
playerT/Release/MusicLibrary.obj -text
playerT/Release/PlayList.obj -text
playerT/Release/WaveFile.obj -text
playerT/Release/mainfrm.obj -text
playerT/Release/mt.dep -text
playerT/Release/music.obj -text
playerT/Release/player.obj -text
playerT/Release/player.res -text
playerT/Release/playerT.exe -text
playerT/Release/playerT.exe.intermediate.manifest -text
playerT/Release/stdafx.obj -text
playerT/Release/vc90.idb -text
playerT/UpgradeLog.XML -text
playerT/WaveFile.cpp -text
playerT/WaveFile.h -text
playerT/WaveFileEx.h -text
playerT/aboutdlg.h -text
playerT/mainfrm.CPP -text
playerT/mainfrm.h -text
playerT/mpg123.h -text
playerT/mpg123_denc.dll -text
playerT/mpg123_denc.lib -text
playerT/mpg123_dencd.dll -text
playerT/mpg123_dencd.lib -text
playerT/music.cpp -text
playerT/music.h -text
playerT/player.aps -text
playerT/player.cpp -text
playerT/player.h -text
playerT/player.rc -text
playerT/player.sln -text
playerT/player.sln.old -text
playerT/player.suo -text
playerT/player.suo.old -text
playerT/player.vcproj -text
playerT/player.vcproj.2011-20110603DY.Administrator.user -text
playerT/player.vcproj.69ADF62AF8AB4E6.Administrator.user -text
playerT/player.vcproj.69ADF62AF8AB4E6.g1.user -text
playerT/player.vcproj.LG-946TRO7DN0BF.LG.user -text
playerT/player.vcproj.LG.Administrator.user -text
playerT/player.vcxproj -text
playerT/player.vcxproj.filters -text
playerT/player.vcxproj.user -text
playerT/playerT.aps -text
playerT/playerT.dsp -text
playerT/playerT.dsw -text
playerT/playerT.ncb -text
playerT/playerT.opt -text
playerT/playerT.plg -text
playerT/playerT.sln -text
playerT/playerT.suo -text
playerT/playerT.vcproj -text
playerT/playerT.vcproj.HXT-0401120-LY.Administrator.user -text
playerT/playerTview.h -text
playerT/res/Thumbs.db -text
playerT/res/player.ico -text
playerT/res/playerT.exe.manifest -text
playerT/res/playerT.ico -text
playerT/res/toolbar.bmp -text
playerT/resource.h -text
playerT/stdafx.cpp -text
playerT/stdafx.h -text
playerT/备份/mpg123_denc.dll -text
playerT/备份/mpg123_denc.lib -text
playerT/备份/mpg123_dencd.dll -text
playerT/备份/mpg123_dencd.lib -text
