[submodule "player/Last.fm"]
	path = player/Last.fm
	url = https://github.com/liaogang/Last.fm.git
[submodule "player/lyricsFetcher"]
	path = player/lyricsFetcher
	url = https://github.com/liaogang/lyricsFetcher.git
