playerBranchNonNotify/*.aps
playerBranchNonNotify/*.filters
playerBranchNonNotify/*.old
playerBranchNonNotify/*.plg
playerBranchNonNotify/*.user
playerBranchNonNotify/*.vcxproj
playerBranchNonNotify/Debug
playerBranchNonNotify/Debug1
playerBranchNonNotify/Release
playerBranchNonNotify/playerT.ncb
playerBranchNonNotify/playerT.suo
playerBranchNonNotify/res/*.manifest
playerBranchNonNotify/res/Thumbs.db
playerT/*.aps
playerT/*.filters
playerT/*.old
playerT/*.plg
playerT/*.user
playerT/*.vcxproj
playerT/Debug
playerT/Debug1
playerT/Release
playerT/Release/*
playerT/Release/*.dep
playerT/Release/*.htm
playerT/Release/*.lastbuildstate
playerT/Release/*.log
playerT/Release/*.manifest
playerT/Release/*.obj
playerT/Release/*.res
playerT/Release/*.tlog
playerT/Release/player.exe
playerT/playerT.ncb
playerT/playerT.suo
playerT/res/*.manifest
playerT/res/Thumbs.db
playerT/todo.txt
playerTBranch/Debug
playerTBranch/Debug1
playerTBranch/Release
